  body {
    background-color: #eaf6f6;
  }

  hr {
    border-width: 5px;
    border-color: #f76b8a;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
  }

  h1 {
    color: #66bfbf;
    font-family: 'Work Sans', sans-serif;

  }

  h3 {
    color: #66bfbf;
    font-family: 'Work Sans', sans-serif;

  }

p{
  font-family: 'Work Sans', sans-serif;
}
table{
  font-family: 'Work Sans', sans-serif;

}
ul{
  font-family: 'Work Sans', sans-serif;

}
ol{
  font-family: 'Work Sans', sans-serif;

}
